<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="templates/css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
</head>
<body>
    <br><br>
    <center>
        <h1>NOVUS</h1>
    </center>
    <br>
    <div class="row">
    <center>
        <div class="col-md-"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <center>
                        <img id="profile_pic" src="">
                        <br><br>
                        <h4>display name: <span id="display_name"><span></h4>
                        <h4>id: <span id="id"><span></h4>
                        <h4>followers: <span id="followers"><span></h4>
                        <h4>saved songs: <span id="total_saved_songs"><span></h4>
                        <h4>country: <span id="country"><span></h4>
                        <h4>type: <span id="type"><span></h4>
                    </center>
                </div>
                <div class="col-md-8">
                    <img style="max-width:100%; max-height:330px;" id="word_cloud" src="">
                    <h4>Top Genres:</h4>
                    <p id="top_genres">
                    </p>

                    <div style="width:550px; height:550px">
                        <canvas id="myChart" width="100%" height="100%"></canvas>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-"></div>
    </center>
    </div>
    <br>

    <!-- <div> -->
    <center>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-auto">
            <center>
                <i><h3><b>Most recent SAVED songs:</b></h3></i>
                <br>
                <div id="wrapper">
                    <div id="saved_songs" class="scrollbox"></div>
                </div>
            </center>
        </div>
        <div class="col-md-auto">
            <center>
                <i><h3><b>Most recent PLAYED songs:</b></h3></i>
                <br>
                <div id="wrapper">
                    <div id="played_songs" class="scrollbox"></div>
                </div>
            </center>
        </div>
        <div class="col-md-auto">
            <center>
                <i><h3><b>Last month's TOP songs:</b></h3></i>
                <br>
                <div id="wrapper">
                    <div id="top_songs" class="scrollbox"></div>
                </div>
            </center>
        </div>
        <div class="col-2"></div>
    </div>
    </center>
    <!-- </div> -->
    <br> <br>

    <center><h2>Select seed genres for recommendations:</h2></center>
    <center>
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="seed_genres_available">
            </div>
            <div class="col-md-2"></div>
    </div>
  </center>
    <br> <br>

    <div style="padding-bottom:100px">
        <center>
            <i><h3><b>RECOMMENDED songs:</b></h3></i>
            <br>
            <div id="wrapper">
                <div id="recommended_songs" class="scrollbox"></div>
            </div>
        </center>
    </div>

    <script>
      const results = '{{ results }}'
        .replace(/&#34;/g, '"')
        .replace(/&#39;/g, "'");
      // console.log(results);
    </script>
    <script src="templates/js/home.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="templates/js/playback.js"></script>
</body>
</html>
